<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="index.html">
                <img src="~/Content/images/1400568941.jpg" style="height: 70px; width: 70px; z-index: 2000"/>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right mainNav">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("About", "About", "Home",new {area=""},null)</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>
                @Html.Partial("_AdminLinkPartial")
                @Html.Partial("_LinkPartial")

            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
