@model IEnumerable<UniversityWebApp.Areas.Admin.Models.CourseRoomEnroll>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StratingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            <label>@item.StratingTime.ToString("hh:mm:ss")</label>
        </td>
        <td>
            <label>@item.EndTime.ToString("hh:mm:ss")</label>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CourseRoomEnrollId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CourseRoomEnrollId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CourseRoomEnrollId })
        </td>
    </tr>
}

</table>
