@model UniversityWebApp.Areas.Admin.Models.Student

@{
    ViewBag.Title = "Index";
}



<div class="col-md-4">
    <br/>
    <br />
    <br />
    @if( Model.ImagePath!="")
    {
       
        <img src=@Model.ImagePath class="img-thumbnail img-responsive" />
    }
    else{
        <img src="~/Image/7201237400_9f2a686a92.jpg" class="img-thumbnail img-responsive" />
    }
    
    <br />
    <br />
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>

<div class="col-md-8">

    <div class="jumbotron">
        <div class="container">


            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <h4>@Html.DisplayName("Department Name")</h4>
                    <br />
                    @Html.Display("departmentName")
                </div>

                <div class="col-sm-6 col-md-4">
                    <h4>@Html.DisplayNameFor(model => model.User.UserName)</h4><br />
                    @Html.Display("userName")

                </div>


                <div class="col-sm-6 col-md-4">
                    <h4>@Html.DisplayNameFor(model => model.RegistrationNo)</h4><br />
                    @Html.DisplayFor(model => model.RegistrationNo)
                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <h4>@Html.DisplayNameFor(model => model.Name)</h4><br />
                    @Html.DisplayFor(model => model.Name)
                </div>
                <div class="col-sm-6 col-md-4">
                    <h4>@Html.DisplayName("Email")</h4><br />
                    @Html.Display("userEmail")

                </div>
                <div class="col-sm-6 col-md-4">
                    <h4>@Html.DisplayNameFor(model => model.Address)</h4><br />
                    @Html.DisplayFor(model => model.Address)
                </div>
            </div>
            <br />
            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <h4>@Html.DisplayNameFor(model => model.Cgpa)</h4><br />
                    @Html.DisplayFor(model => model.Cgpa)

                </div>

            </div>



        </div>
    </div>


</div>





